body {
  padding: 0;
  margin: 0;
  font-family: "Myriad Pro", sans-serif; }

.content {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 20px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header {
  background-color: #629b57;
  border-bottom: 1px solid #569554;
  font-size: 16px;
  padding: 15px 0; }
  .header .close-block {
    cursor: pointer;
    font-size: 35px;
    line-height: 20px; }
  .header-text {
    margin: 0; }

.main {
  height: 820px;
  background-color: #60a75e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 282px; }
  .main .text {
    font-family: "Roboto Mono", sans-serif;
    width: 580px;
    padding-left: 3px; }
  .main-header {
    margin: -5px 0 0;
    font-size: 48px;
    line-height: 52px;
    font-weight: 500; }
  .main-text {
    font-size: 22px; }
  .main .yellow {
    color: #ffea00; }
  .main .form {
    color: black;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Lato", sans-serif;
    width: 400px;
    height: 250px;
    padding: 30px;
    background-color: #fff;
    -webkit-box-shadow: 2px 5px 20px 0 rgba(0, 0, 0, 0.75);
            box-shadow: 2px 5px 20px 0 rgba(0, 0, 0, 0.75); }
    .main .form-header {
      margin: 0 0 21px;
      font-size: 20px;
      line-height: 20px; }
    .main .form-text {
      color: #999;
      margin: 0 0 10px;
      font-size: 16px;
      line-height: 16px; }
    .main .form .levels {
      font-family: "Lato", sans-serif;
      margin-bottom: 18px;
      width: 340px;
      height: 40px;
      border: 1px solid #a1a1a1;
      padding: 0 15px;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      background-image: url(../images/drop_down_icon.svg);
      background-repeat: no-repeat;
      background-position: 310px 16px; }
      .main .form .levels:hover, .main .form .levels:focus {
        outline: 1px solid #60a75e; }
    .main .form .how-many {
      font-family: "Lato", sans-serif;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .main .form .counter {
      width: 130px;
      height: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border: 1px solid #bababa;
      border-radius: 3px;
      overflow: hidden; }
      .main .form .counter .decrement,
      .main .form .counter .increment {
        cursor: pointer;
        width: 40px;
        height: 40px;
        border-radius: 0;
        background: -webkit-gradient(linear, left top, left bottom, from(#919691), to(#606760));
        background: linear-gradient(#919691, #606760);
        border: none;
        color: #fff; }
        .main .form .counter .decrement:hover, .main .form .counter .decrement:focus,
        .main .form .counter .increment:hover,
        .main .form .counter .increment:focus {
          border: 1px solid #60a75e; }
    .main .form .result {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: baseline;
          -ms-flex-align: baseline;
              align-items: baseline;
      width: 165px;
      height: 40px;
      border-radius: 3px;
      overflow: hidden;
      color: #fff; }
      .main .form .result .sum {
        width: 75px;
        line-height: 40px;
        text-align: center;
        background: -webkit-gradient(linear, left top, left bottom, from(#919691), to(#606760));
        background: linear-gradient(#919691, #606760); }
      .main .form .result .pop-up-button {
        cursor: pointer;
        width: 90px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        line-height: 40px;
        -ms-flex-item-align: start;
            align-self: flex-start;
        padding: 0;
        background: -webkit-gradient(linear, left top, left bottom, from(#9bdf98), to(#6ed16a));
        background: linear-gradient(#9bdf98, #6ed16a);
        border: none;
        color: #fff; }
        .main .form .result .pop-up-button:hover, .main .form .result .pop-up-button:focus {
          border: 1px solid #467c44; }

.popup {
  position: relative;
  display: none;
  z-index: 1;
  left: 0;
  top: 0; }
  .popup .ui-dialog {
    padding: 0; }
  .popup-close {
    display: inline-block;
    font-size: 24px;
    line-height: 18px;
    color: #adadad;
    height: 20px;
    margin: 20px 20px 17px 420px;
    cursor: pointer; }
  .popup-header {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px;
    text-align: center; }
  .popup-text {
    font-family: "Lato", sans-serif;
    color: #adadad;
    font-size: 16px;
    margin-bottom: 10px; }
  .popup-text-header {
    text-align: center;
    margin: 10px 0 18px; }
  .popup-form {
    margin: 0 59px; }
  .popup-input {
    width: 340px;
    height: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #bababa;
    outline: none;
    padding-left: 40px; }
    .popup-input:hover, .popup-input:focus {
      border: 1px solid #60a75e; }
    .popup-input-name {
      background: no-repeat url(../images/user_icon.svg);
      background-position: 12px 12px; }
    .popup-input-mail {
      background: no-repeat url(../images/email_icon.svg);
      background-position: 12px 13px; }
    .popup-input-phone {
      padding-left: 90px;
      z-index: 2; }

.modal {
  display: none;
  z-index: 1;
  left: 0;
  top: 0;
  width: 460px;
  height: 340px;
  padding: 20px; }
  .modal-close {
    cursor: pointer;
    font-size: 25px;
    float: right;
    margin: 15px 20px 0 0;
    color: #cfcfcf; }
  .modal-content {
    text-align: center; }
  .modal-image {
    margin: 70px 0 20px; }
  .modal-header {
    font-size: 20px;
    margin: 0 0 10px; }
  .modal-text {
    color: #cfcfcf;
    margin: 0 0 20px;
    font-size: 16px; }
  .modal-button {
    cursor: pointer;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 145px;
    height: 40px;
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#9bdf99), to(#6ed16a));
    background: linear-gradient(#9bdf99, #6ed16a);
    border: none;
    border-radius: 3px;
    text-align: center;
    outline-color: #60a75e;
    margin: 0 0 70px; }

div.ui-dialog .ui-dialog-content {
  padding: 0; }

div.ui-dialog {
  padding: 0;
  width: 460px !important; }

div.iti__selected-flag {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 12px; }
  div.iti__selected-flag .iti__arrow {
    margin-top: 5px; }

div.iti-arrow {
  margin-top: 5px; }

div.popup-content {
  margin: 0;
  overflow: hidden;
  padding-bottom: 30px; }

div.iti__selected-flag {
  outline: none; }

ul.iti__country-list {
  position: relative;
  bottom: 150px;
  width: 55px;
  max-height: 120px;
  overflow: hidden;
  overflow-y: visible; }

div.ui-widget input {
  font-family: "Lato", sans-serif;
  font-size: 16px; }

div.ui-dialog .ui-dialog-buttonpane {
  border: none;
  margin: 0;
  padding: 0; }

div.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: none; }

.ui-dialog div.ui-dialog-buttonpane button {
  border: none;
  background: #fff;
  width: 145px;
  height: 40px;
  margin: 0 0 30px 155px; }

.ui-button span.ui-button-text {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 145px;
  height: 40px;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#9bdf99), to(#6ed16a));
  background: linear-gradient(#9bdf99, #6ed16a);
  border: none;
  border-radius: 3px;
  text-align: center;
  outline-color: #60a75e;
  padding-top: 8px; }
  .ui-button span.ui-button-text:hover, .ui-button span.ui-button-text:focus {
    border: 1px solid #60a75e;
    outline-color: #60a75e; }

.ui-dialog-titlebar {
  display: none; }

div.ui-widget-overlay {
  background: black;
  opacity: 0.7; }

label.error {
  color: #9e3d3d;
  font-size: 15px; }

@media (max-width: 920px) {
  div.ui-dialog {
    padding: 0;
    width: 360px !important; }
  .ui-dialog div.ui-dialog-buttonpane button {
    margin-left: 100px; }
  .popup-input {
    width: 300px; }
  .popup-form {
    margin: 0 30px; }
  .popup-close {
    margin-left: 320px; }
  .content {
    padding: 0; }
  .header {
    padding: 15px 0; }
    .header-text {
      font-size: 14px; }
  .main {
    height: 540px;
    padding-top: 75px; }
    .main-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .main .text {
      width: 340px;
      text-align: center; }
    .main-header {
      font-size: 25px;
      width: 340px; }
    .main .form {
      width: 360px; }
      .main .form .levels {
        width: 300px;
        background-position: 270px 16px; }
      .main .form .result {
        width: 150px; } }

/*# sourceMappingURL=main.css.map */
